@import 'tailwindcss';
@import '@bemedev/mind-flow-fabric/style.css';

@custom-variant dark (&:is(.dark *));

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility pointer-events-all {
  pointer-events: all;
}
